  <h1>Burger-Slice App!</h1>

<div class="main row">
    <div class="col-md-6">
    <h2 class="center-align">Burgers that are ready to be eaten!</h2>

    <ul class="collection">
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
</div>

<div class="col-md-6">
  <h2 class="center-align">Burgers that are devoured!</h2>

    <ul class="collection">
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul></div>
<div>


  <h2 >Add a Burger</h2>
    <form class="create-form">

      <div class="form-group" id="name">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name" placeholder="Your burger name">
      </div>

      {{!-- <div class="form-group" id="devo">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Ready to be Devoured!
      </div> --}}

      <button type="submit">Add Burger</button>
    </form>

